<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته سوم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<div align=center>
			<font face="IranNastaliq" size=5>    
                  چون عهده نمی‌شود کسی فردا را
                <br><br>
                 حالی خوش دار این دل پر سودا را
                <br><br>
                می نوش به ماهتاب ای ماه که ماه
                <br><br>
                بسیار بتابد و نیابد ما را        			   	
                <p></p>
			</font>
        </div>
    </font>
</div>

In [1]:
import numpy as np
import pandas as pd

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال اول:‌
            </font>
        <font>
            مجموعه داده های زیر را در نظر بگیرید
        </font>
        <br/>
    </font>
</div>

In [2]:
numbers = np.array([ 4.5 , 7.8 ,  6.5,  0.5,  8. ,  6.5, 19. , 13.5,  2.5, 17. , 19. ,
       19.5, 13. ,  12.21 ,  6.3 ,  0.5,  9.5, 13.5, 16. ,  2.5, 10.5,  8. ,
       10. , 15.5,  7.5,  0. ,  1. , 10.5,  2. , 11. ,  3. , 14. ,  3.5,
       18.5, 13. ,  1. , 14.5, 15. ,  1.52 , 15.5,  1.5,  2.8 ,  3.5,  6.5,
        12.5, 14.5, 11.5,  8. ,  10.2 ,  5.5,  0.5, 23. ,  5. ,  0.5, 17.5,
       17.5, 17.5, 15. ,  4.5, 17. , 18. , 10. ,  8.5, 14. , 18.5, 19.5,
       16.3 ,  8.5,  0. ,  9.5,  6. ,  2. ,  5. ,  9.5,  4. ,  4. ,  1. ,
        8. , 18.5, 18. , 15.5,  4.5,  1.5, 20. ,  0.5, 19. ,  4. ,  9.5,
       12.8  ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
        برای این مجموعه داده ها قصد داریم با دو فرمول زیر مقادیر آنها را تغییر دهیم:
<br>
۱. اگر عددی کمتر از هشت و نیم است با فرمول زیر آن عدد تغییر کند:
<br>
$$ y = 10 + \frac{x}{10} $$
<br>
۲. اگر عددیبیشتر یا مساوی هشت و نیم است با فرمول زیر آن عدد تغییر کند :
<br>
$$ y =  -0.0051x^{2} + 0.8586x + 3.4332 $$
<br>
توجه کنید که حتی بعد از تغییر باید بیشینه عدد نهایتا بیشینه عدد موجود در داده فعلی باشد. 25 درصد داده های بزرگتر را در آرایه زیر بریزید
</div>

In [11]:
%%timeit

scores=np.vectorize(lambda x:(10+(x/10)) if x<8.5 else (-1 * 0.0051*( x**2)+(0.8586*x)+3.4332))(numbers)

58.5 µs ± 1.62 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [12]:
%%timeit

new_numbers=np.array(list(map(lambda x:10+(x/10) if x<8.5 else (-0.0051*(x**2))+(0.8586*x)+3.4332,numbers)))

94.2 µs ± 1.16 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [3]:
# %%timeit

res = np.where(numbers < 8.5, 10 + numbers / 10, -0.0051 * numbers**2 + 0.8586*numbers +3.4332)

In [5]:
res.clip(max=numbers.max(), out=res)

array([10.45      , 10.78      , 10.65      , 10.05      , 10.8       ,
       10.65      , 17.9055    , 14.094825  , 10.25      , 16.5555    ,
       17.9055    , 18.236625  , 13.7331    , 13.15637709, 10.63      ,
       10.05      , 11.129625  , 14.094825  , 15.8652    , 10.25      ,
       11.886225  , 10.8       , 11.5092    , 15.516225  , 10.75      ,
       10.        , 10.1       , 11.886225  , 10.2       , 12.2607    ,
       10.3       , 14.454     , 10.35      , 17.571825  , 13.7331    ,
       10.1       , 14.810625  , 15.1647    , 10.152     , 15.516225  ,
       10.15      , 10.28      , 10.35      , 10.65      , 13.368825  ,
       14.810625  , 12.632625  , 10.8       , 11.660316  , 10.55      ,
       10.05      , 20.4831    , 10.5       , 10.05      , 16.896825  ,
       16.896825  , 16.896825  , 15.1647    , 10.45      , 16.5555    ,
       17.2356    , 11.5092    , 10.362825  , 14.454     , 17.571825  ,
       18.236625  , 16.073361  , 10.362825  , 10.        , 11.129625  ,
       10.6       , 10.2       , 10.5       , 11.129625  , 10.4       ,
       10.4       , 10.1       , 10.8       , 17.571825  , 17.2356    ,
       15.516225  , 10.45      , 10.15      , 18.5652    , 10.05      ,
       17.9055    , 10.4       , 11.129625  , 13.587696  ])

In [19]:
%%timeit

def myfun(x,maxarr):
    # print(x.iloc(0))
    if x < 8.5:
        y=(10+x/10)
    else:
        y=( -0.0051*x**2 + 0.8586*x + 3.4332)
    if y > maxarr:
        return(maxarr)
    else:
        return(y)


column_values=['col'] 
df=pd.DataFrame(numbers,columns = column_values)
 
maxa=df['col'].max()

newdf=df['col'].apply(myfun,maxarr=maxa)

641 µs ± 6.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

What is wrong with this?
```python
new_numbers=new_numbers[(new_numbers<=23)]
```

In [7]:
res == res

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

In [17]:
np.isclose(res, scores).all()

True

In [10]:
numbers.max(), scores.max()

(23.0, 20.4831)

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
 25 درصد داده های کوچکتر آرایه اول را در آرایه زیر بریزید
</div>

In [8]:
down_old_twenty_five = numbers[numbers <= np.quantile(numbers, 0.25)]
up_new_twenty_five = res[res >= np.quantile(res, 0.75)]
down_old_twenty_five.shape, up_new_twenty_five.shape

((24,), (24,))

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
      <p></p>
        داده های متناظر دو آرایه به دست آمده را از یکدیگر کسر کنید و در یک آرایه سه بعدی که اندازه ابعاد سوم و دوم آن یک میباشد بریزید
</div>

In [13]:
dif = up_new_twenty_five - down_old_twenty_five
mat3 = dif[:, np.newaxis, np.newaxis]
mat3.shape

(24, 1, 1)

In [15]:
dif.shape

(24,)

In [19]:
np.newaxis is None

True

In [20]:
dif.shape = (24, 1)

In [22]:
dif.reshape((24,))

array([17.4055  , 14.0555  , 17.4055  , 15.736625, 15.8652  , 14.516225,
       15.571825, 12.1647  , 12.016225, 19.4831  , 15.376825, 15.396825,
       14.096825, 11.6647  , 16.0555  , 16.7356  , 17.571825, 16.236625,
       12.073361, 13.571825, 16.2356  , 14.016225, 18.0652  , 13.9055  ])

In [26]:
dif.reshape((-1, 6)).shape

(4, 6)

In [18]:
dif[:, np.newaxis].shape

(24, 1)

In [9]:
m = np.hstack(
    [
        down_old_twenty_five[:, np.newaxis], 
        np.ones((len(down_old_twenty_five),2))
    ]
)
m

array([[0.5 , 1.  , 1.  ],
       [2.5 , 1.  , 1.  ],
       [0.5 , 1.  , 1.  ],
       [2.5 , 1.  , 1.  ],
       [0.  , 1.  , 1.  ],
       [1.  , 1.  , 1.  ],
       [2.  , 1.  , 1.  ],
       [3.  , 1.  , 1.  ],
       [3.5 , 1.  , 1.  ],
       [1.  , 1.  , 1.  ],
       [1.52, 1.  , 1.  ],
       [1.5 , 1.  , 1.  ],
       [2.8 , 1.  , 1.  ],
       [3.5 , 1.  , 1.  ],
       [0.5 , 1.  , 1.  ],
       [0.5 , 1.  , 1.  ],
       [0.  , 1.  , 1.  ],
       [2.  , 1.  , 1.  ],
       [4.  , 1.  , 1.  ],
       [4.  , 1.  , 1.  ],
       [1.  , 1.  , 1.  ],
       [1.5 , 1.  , 1.  ],
       [0.5 , 1.  , 1.  ],
       [4.  , 1.  , 1.  ]])

In [10]:
m.shape

(24, 3)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال دوم:‌
        </font>
در این تمرین قصد داریم به تحلیل داده های فیلم های برتر سینمای جهان به معیار imdb بپردازیم. ابتدا دادههای مربوط به فیلم را از فایل csv فراخوانی میکنیم
        <br/>
    </font>
</div>

In [28]:
movies = pd.read_csv("data/imdb_movie_rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [29]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [27]:
movies.describe(percentiles=[], include='all')

,star_rating,title,content_rating,genre,duration,actors_list
count,979.000000,979,976,979,979.000000,979
unique,NaN,975,12,16,NaN,969
top,NaN,Dracula,R,Drama,NaN,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,NaN,2,460,278,NaN,6
mean,7.889785,NaN,NaN,NaN,120.979571,NaN
std,0.336069,NaN,NaN,NaN,26.218010,NaN
min,7.400000,NaN,NaN,NaN,64.000000,NaN
50%,7.800000,NaN,NaN,NaN,117.000000,NaN
max,9.300000,NaN,NaN,NaN,242.000000,NaN

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید. 
        <br/>
    </font>
</div>

In [28]:
movies.dropna(inplace=True)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید 
        <br/>
    </font>
</div>

In [31]:
movies \
.sort_values('duration', ascending=False) \
.head(50)

,star_rating,title,content_rating,genre,duration,actors_list
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
335,8.0,Doctor Zhivago,PG-13,Drama,197,"[u'Omar Sharif', u'Julie Christie', u'Geraldin..."
385,8.0,Spartacus,PG-13,Action,197,"[u'Kirk Douglas', u'Laurence Olivier', u'Jean ..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
620,7.7,Titanic,PG-13,Drama,194,"[u'Leonardo DiCaprio', u'Kate Winslet', u'Bill..."
424,7.9,The Right Stuff,R,Adventure,193,"[u'Sam Shepard', u'Scott Glenn', u'Ed Harris']"
220,8.1,Gandhi,PG,Biography,191,"[u'Ben Kingsley', u'John Gielgud', u'Candice B..."
671,7.7,Grindhouse,R,Action,191,"[u'Kurt Russell', u'Rose McGowan', u'Danny Tre..."
89,8.4,Swades,NOT RATED,Drama,189,"[u'Shah Rukh Khan', u'Gayatri Joshi', u'Kishor..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
316,8.0,JFK,R,Drama,189,"[u'Kevin Costner', u'Gary Oldman', u'Jack Lemm..."
184,8.2,Fanny and Alexander,R,Drama,188,"[u'Bertil Guve', u'Pernilla Allwin', u'Kristin..."
318,8.0,Magnolia,R,Drama,188,"[u'Tom Cruise', u'Jason Robards', u'Julianne M..."
611,7.7,Short Cuts,R,Comedy,187,"[u'Andie MacDowell', u'Julianne Moore', u'Tim ..."
132,8.3,Judgment at Nuremberg,NOT RATED,Drama,186,"[u'Spencer Tracy', u'Burt Lancaster', u'Richar..."
245,8.1,Barry Lyndon,PG,Adventure,184,"[u""Ryan O'Neal"", u'Marisa Berenson', u'Patrick..."
109,8.3,Dil Chahta Hai,NOT RATED,Comedy,183,"[u'Aamir Khan', u'Saif Ali Khan', u'Akshaye Kh..."
166,8.2,The Deer Hunter,R,Drama,182,"[u'Robert De Niro', u'Christopher Walken', u'J..."
93,8.4,Dilwale Dulhania Le Jayenge,NOT RATED,Comedy,181,"[u'Shah Rukh Khan', u'Kajol', u'Amrish Puri']"
339,8.0,Dances with Wolves,PG-13,Adventure,181,"[u'Kevin Costner', u'Mary McDonnell', u'Graham..."
361,8.0,Fiddler on the Roof,G,Drama,181,"[u'Topol', u'Norma Crane', u'Leonard Frey']"
143,8.2,The Wolf of Wall Street,R,Biography,180,"[u'Leonardo DiCaprio', u'Jonah Hill', u'Margot..."
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
456,7.9,Blue Is the Warmest Color,NC-17,Drama,179,"[u'L\xe9a Seydoux', u'Ad\xe8le Exarchopoulos',..."
534,7.8,The Longest Day,G,Action,178,"[u'John Wayne', u'Robert Ryan', u'Richard Burt..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
156,8.2,Casino,R,Biography,178,"[u'Robert De Niro', u'Sharon Stone', u'Joe Pes..."
300,8.0,Dogville,R,Crime,178,"[u'Nicole Kidman', u'Paul Bettany', u'Lauren B..."
82,8.4,Braveheart,R,Action,177,"[u'Mel Gibson', u'Sophie Marceau', u'Patrick M..."
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
231,8.1,La Dolce Vita,NOT RATED,Comedy,174,"[u'Marcello Mastroianni', u'Anita Ekberg', u'A..."
348,8.0,The Sound of Music,G,Biography,174,"[u'Julie Andrews', u'Christopher Plummer', u'E..."
842,7.5,Cloud Atlas,R,Drama,172,"[u'Tom Hanks', u'Halle Berry', u'Hugh Grant']"
120,8.3,The Great Escape,UNRATED,Adventure,172,"[u'Steve McQueen', u'James Garner', u'Richard ..."
302,8.0,Patton,GP,Biography,172,"[u'George C. Scott', u'Karl Malden', u'Stephen..."
159,8.2,The Best Years of Our Lives,PASSED,Drama,172,"[u'Fredric March', u'Dana Andrews', u'Myrna Loy']"
888,7.5,The Aviator,PG-13,Biography,170,"[u'Leonardo DiCaprio', u'Cate Blanchett', u'Ka..."

In [30]:
(movies
 .sort_values('duration', ascending=False)
 .head(50)
 .to_csv('long_time.csv')
)

,star_rating,title,content_rating,genre,duration,actors_list
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
335,8.0,Doctor Zhivago,PG-13,Drama,197,"[u'Omar Sharif', u'Julie Christie', u'Geraldin..."
385,8.0,Spartacus,PG-13,Action,197,"[u'Kirk Douglas', u'Laurence Olivier', u'Jean ..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
620,7.7,Titanic,PG-13,Drama,194,"[u'Leonardo DiCaprio', u'Kate Winslet', u'Bill..."
424,7.9,The Right Stuff,R,Adventure,193,"[u'Sam Shepard', u'Scott Glenn', u'Ed Harris']"
220,8.1,Gandhi,PG,Biography,191,"[u'Ben Kingsley', u'John Gielgud', u'Candice B..."
671,7.7,Grindhouse,R,Action,191,"[u'Kurt Russell', u'Rose McGowan', u'Danny Tre..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
89,8.4,Swades,NOT RATED,Drama,189,"[u'Shah Rukh Khan', u'Gayatri Joshi', u'Kishor..."
316,8.0,JFK,R,Drama,189,"[u'Kevin Costner', u'Gary Oldman', u'Jack Lemm..."
318,8.0,Magnolia,R,Drama,188,"[u'Tom Cruise', u'Jason Robards', u'Julianne M..."
184,8.2,Fanny and Alexander,R,Drama,188,"[u'Bertil Guve', u'Pernilla Allwin', u'Kristin..."
611,7.7,Short Cuts,R,Comedy,187,"[u'Andie MacDowell', u'Julianne Moore', u'Tim ..."
132,8.3,Judgment at Nuremberg,NOT RATED,Drama,186,"[u'Spencer Tracy', u'Burt Lancaster', u'Richar..."
245,8.1,Barry Lyndon,PG,Adventure,184,"[u""Ryan O'Neal"", u'Marisa Berenson', u'Patrick..."
109,8.3,Dil Chahta Hai,NOT RATED,Comedy,183,"[u'Aamir Khan', u'Saif Ali Khan', u'Akshaye Kh..."
166,8.2,The Deer Hunter,R,Drama,182,"[u'Robert De Niro', u'Christopher Walken', u'J..."
339,8.0,Dances with Wolves,PG-13,Adventure,181,"[u'Kevin Costner', u'Mary McDonnell', u'Graham..."
93,8.4,Dilwale Dulhania Le Jayenge,NOT RATED,Comedy,181,"[u'Shah Rukh Khan', u'Kajol', u'Amrish Puri']"
361,8.0,Fiddler on the Roof,G,Drama,181,"[u'Topol', u'Norma Crane', u'Leonard Frey']"
143,8.2,The Wolf of Wall Street,R,Biography,180,"[u'Leonardo DiCaprio', u'Jonah Hill', u'Margot..."
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
456,7.9,Blue Is the Warmest Color,NC-17,Drama,179,"[u'L\xe9a Seydoux', u'Ad\xe8le Exarchopoulos',..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
534,7.8,The Longest Day,G,Action,178,"[u'John Wayne', u'Robert Ryan', u'Richard Burt..."
156,8.2,Casino,R,Biography,178,"[u'Robert De Niro', u'Sharon Stone', u'Joe Pes..."
300,8.0,Dogville,R,Crime,178,"[u'Nicole Kidman', u'Paul Bettany', u'Lauren B..."
82,8.4,Braveheart,R,Action,177,"[u'Mel Gibson', u'Sophie Marceau', u'Patrick M..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."
348,8.0,The Sound of Music,G,Biography,174,"[u'Julie Andrews', u'Christopher Plummer', u'E..."
231,8.1,La Dolce Vita,NOT RATED,Comedy,174,"[u'Marcello Mastroianni', u'Anita Ekberg', u'A..."
159,8.2,The Best Years of Our Lives,PASSED,Drama,172,"[u'Fredric March', u'Dana Andrews', u'Myrna Loy']"
302,8.0,Patton,GP,Biography,172,"[u'George C. Scott', u'Karl Malden', u'Stephen..."
120,8.3,The Great Escape,UNRATED,Adventure,172,"[u'Steve McQueen', u'James Garner', u'Richard ..."
842,7.5,Cloud Atlas,R,Drama,172,"[u'Tom Hanks', u'Halle Berry', u'Hugh Grant']"
888,7.5,The Aviator,PG-13,Biography,170,"[u'Leonardo DiCaprio', u'Cate Blanchett', u'Ka..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
        <br/>
    </font>
</div>

In [21]:
#TODO

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.
        <br/>
    </font>
</div>

In [36]:
a = movies.groupby(['genre', 'content_rating'])

In [40]:
for indexes, tables in a:
    break

In [45]:
b =  movies.groupby(['genre', 'content_rating'])['star_rating'].first()

7.8

In [47]:
b[('Action', 'G')]

7.8

In [34]:
series = movies.groupby('genre').star_rating.mean().round(3)
series

genre
Action       7.885
Adventure    7.933
Animation    7.915
Biography    7.862
Comedy       7.822
Crime        7.917
Drama        7.903
Family       7.850
Fantasy      7.700
Film-Noir    8.033
History      8.000
Horror       7.807
Mystery      7.975
Sci-Fi       7.920
Thriller     7.680
Western      8.256
Name: star_rating, dtype: float64

In [33]:
series['Action']

7.885

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
       ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.
        <br/>
    </font>
</div>

In [51]:
%%timeit

movies["col150"] = np.where(movies.duration >= 150,1, 0)
movies

246 µs ± 6.01 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [39]:
%%timeit

def fun150(x):
    if x < 150:
        return 1
    else:
        return 0
movies["col150"]= movies['duration'].apply(fun150)

738 µs ± 2.04 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [37]:
%%timeit

movies['long_150'] = 0
movies.loc[movies.duration >= 150, 'long_150'] = 1

460 µs ± 14.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.
        <br/>
    </font>
</div>

In [54]:
movies.columns=movies.columns.str.replace('_',' ')
movies

,star rating,title,content rating,genre,duration,actors list,col150
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",0
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",1
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",1
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",1
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",1
...,...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",0
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",0
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",0
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",0
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",0

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید
        <br/>
    </font>
</div>

In [56]:
db = movies.groupby(['genre'])[['star rating','title']].apply(lambda x: x.nlargest(3, columns=['star rating']))

In [62]:
db.loc['Action']

    star rating                                           title
3           9.0                                 The Dark Knight
11          8.8                                       Inception
12          8.8  Star Wars: Episode V - The Empire Strikes Back

In [63]:
%%timeit

movies.groupby(['genre'])[['star rating','title']].apply(lambda x: x.nlargest(3, columns=['star rating']))

29.2 ms ± 835 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [64]:
%%timeit

(movies
 .sort_values('star rating', ascending=False)
 .groupby('genre')
 .head(3)
 .set_index('genre')
 .sort_index()
)

2.53 ms ± 258 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [76]:
db2 = (movies
 .sort_values('star rating', ascending=False)
 .groupby('genre')
 .head(3)
 # .set_index('genre')
 # .sort_index()
 .sort_values('genre')
)

In [77]:
db2

,star rating,title,content rating,genre,duration,actors list,col150
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",1
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...",0
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...",0
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...",1
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...",1
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...",1
61,8.5,Grave of the Fireflies,UNRATED,Animation,89,"[u'Tsutomu Tatsumi', u'Ayano Shiraishi', u'Ake...",0
55,8.5,The Lion King,G,Animation,89,"[u'Matthew Broderick', u'Jeremy Irons', u'Jame...",0
30,8.6,Spirited Away,PG,Animation,125,"[u'Daveigh Chase', u'Suzanne Pleshette', u'Miy...",0
31,8.6,The Intouchables,R,Biography,112,"[u'Fran\xe7ois Cluzet', u'Omar Sy', u'Anne Le ...",0
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...",1
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']",0
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G...",0
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F...",0
35,8.6,Modern Times,G,Comedy,87,"[u'Charles Chaplin', u'Paulette Goddard', u'He...",0
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",0
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",1
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",1
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']",0
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh...",0
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...",0
497,7.8,Willy Wonka & the Chocolate Factory,G,Family,100,"[u'Gene Wilder', u'Jack Albertson', u'Peter Os...",0
468,7.9,E.T. the Extra-Terrestrial,PG,Family,115,"[u'Henry Thomas', u'Drew Barrymore', u'Peter C...",0
638,7.7,The City of Lost Children,R,Fantasy,112,"[u'Ron Perlman', u'Daniel Emilfork', u'Judith ...",0
687,7.7,Spellbound,UNRATED,Film-Noir,111,"[u'Ingrid Bergman', u'Gregory Peck', u'Michael...",0
210,8.1,Laura,APPROVED,Film-Noir,88,"[u'Gene Tierney', u'Dana Andrews', u'Clifton W...",0
105,8.3,The Third Man,NOT RATED,Film-Noir,93,"[u'Orson Welles', u'Joseph Cotten', u'Alida Va...",0
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G...",0
57,8.5,Alien,R,Horror,117,"[u'Sigourney Weaver', u'Tom Skerritt', u'John ...",0
39,8.6,Psycho,R,Horror,109,"[u'Anthony Perkins', u'Janet Leigh', u'Vera Mi...",0
62,8.5,The Shining,R,Horror,146,"[u'Jack Nicholson', u'Shelley Duvall', u'Danny...",0
46,8.5,Memento,R,Mystery,113,"[u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan...",0
76,8.4,Vertigo,APPROVED,Mystery,128,"[u'James Stewart', u'Kim Novak', u'Barbara Bel...",0
38,8.6,Rear Window,APPROVED,Mystery,112,"[u'James Stewart', u'Grace Kelly', u'Wendell C...",0
408,7.9,Gravity,PG-13,Sci-Fi,91,"[u'Sandra Bullock', u'George Clooney', u'Ed Ha...",0
145,8.2,Blade Runner,R,Sci-Fi,117,"[u'Harrison Ford', u'Rutger Hauer', u'Sean You...",0
321,8.0,Brazil,R,Sci-Fi,132,"[u'Jonathan Pryce', u'Kim Greist', u'Robert De...",0
496,7.8,Misery,R,Thriller,107,"[u'James Caan', u'Kathy Bates', u'Richard Farn...",0
728,7.6,La piel que habito,R,Thriller,120,"[u'Antonio Banderas', u'Elena Anaya', u'Jan Co...",0
350,8.0,Shadow of a Doubt,APPROVED,Thriller,108,"[u'Teresa Wright', u'Joseph Cotten', u'Macdona...",0
59,8.5,Django Unchained,R,Western,165,"[u'Jamie Foxx', u'Christoph Waltz', u'Leonardo...",1
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...",1
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia...",1

In [72]:
db2.loc['Action']

,star rating,title,content rating,duration,actors list,col150
genre,,,,,,
Action,9.0,The Dark Knight,PG-13,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",1
Action,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...",0
Action,8.8,Inception,PG-13,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...",0

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        تفاوت بین متد read_table و read_csv در ماژول pandas چیست؟
        <br/>
    </font>
</div>

In [ ]:
#TODO

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال چهارم:‌
        </font>
       توضیح دهید crosstab در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟
        <br/>
    </font>
</div>

In [82]:
pd.crosstab(movies.genre, movies['content rating'])

content rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0

In [83]:
pd.crosstab(movies.genre, movies['content rating'], values=movies['duration'], aggfunc='sum')

content rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,430.0,178.0,144.0,NaN,518.0,98.0,1317.0,5729.0,8298.0,NaN,332.0,NaN
Adventure,475.0,324.0,NaN,NaN,566.0,102.0,2813.0,3310.0,2123.0,NaN,272.0,NaN
Animation,254.0,1863.0,NaN,NaN,273.0,NaN,2484.0,521.0,505.0,NaN,89.0,NaN
Biography,111.0,286.0,172.0,NaN,96.0,NaN,756.0,3864.0,4757.0,NaN,NaN,NaN
Comedy,975.0,172.0,91.0,95.0,2078.0,251.0,2322.0,2451.0,7852.0,NaN,415.0,84.0
Crime,617.0,NaN,NaN,106.0,766.0,107.0,649.0,483.0,11059.0,NaN,1242.0,136.0
Drama,1435.0,512.0,NaN,553.0,3076.0,172.0,3134.0,6995.0,17988.0,131.0,1069.0,113.0
Family,NaN,100.0,NaN,NaN,NaN,NaN,115.0,NaN,NaN,NaN,NaN,NaN
Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.0,NaN,NaN,NaN
Film-Noir,88.0,NaN,NaN,NaN,93.0,NaN,NaN,NaN,NaN,NaN,111.0,NaN
History,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN
Horror,165.0,NaN,NaN,85.0,75.0,NaN,114.0,223.0,1729.0,NaN,490.0,92.0
Mystery,472.0,160.0,NaN,NaN,130.0,NaN,138.0,198.0,666.0,NaN,86.0,NaN
Sci-Fi,92.0,NaN,NaN,NaN,NaN,NaN,NaN,91.0,362.0,NaN,NaN,NaN
Thriller,108.0,NaN,NaN,NaN,NaN,NaN,120.0,NaN,343.0,NaN,NaN,NaN
Western,132.0,NaN,NaN,NaN,302.0,NaN,220.0,175.0,401.0,NaN,NaN,NaN

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال پنچم:‌
        </font>
         توضیح دهید متد corr در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟ 
        <br/>
    </font>
</div>

In [79]:
movies.dtypes

star rating       float64
title              object
content rating     object
genre              object
duration            int64
actors list        object
col150              int32
dtype: object

In [78]:
movies.corr()

C:\Users\AMIREL~1\AppData\Local\Temp/ipykernel_8408/1738869300.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  movies.corr()

             star rating  duration    col150
star rating     1.000000  0.227149  0.221328
duration        0.227149  1.000000  0.744894
col150          0.221328  0.744894  1.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        با استفاده از متد value_counts تعداد فیلمها در هر ریت محتوا را به دست آورید.
        <br/>
    </font>
</div>

In [77]:
movies['content rating'].value_counts()

R            460
PG-13        189
PG           123
NOT RATED     65
APPROVED      47
UNRATED       38
G             32
PASSED         7
NC-17          7
X              4
GP             3
TV-MA          1
Name: content rating, dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال ششم:‌
        </font>
        با استفاده از متد sample هفتاد و پنج درصد سطرها را در یک متغیر به نام sample_1 بریزید. درنهایت با استفاده از متد drop از دیتافریم اصلی این سطرها را حذف و دیتافریم جدید را در sample_2 بریزید
        <br/>
    </font>
</div>

In [79]:
sample_1 = movies.sample(frac=0.75)
sample_2 = movies.drop(sample_1.index)

In [80]:
len(sample_1) + len(sample_2) == len(movies)

True

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال هفتم:‌
        </font>
         متد pivot_table چه عملکردی دارد؟
        <br/>
    </font>
</div>

In [81]:
movies.pivot_table(values='duration', index='genre', columns='content rating', aggfunc='sum')

content rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,430.0,178.0,144.0,NaN,518.0,98.0,1317.0,5729.0,8298.0,NaN,332.0,NaN
Adventure,475.0,324.0,NaN,NaN,566.0,102.0,2813.0,3310.0,2123.0,NaN,272.0,NaN
Animation,254.0,1863.0,NaN,NaN,273.0,NaN,2484.0,521.0,505.0,NaN,89.0,NaN
Biography,111.0,286.0,172.0,NaN,96.0,NaN,756.0,3864.0,4757.0,NaN,NaN,NaN
Comedy,975.0,172.0,91.0,95.0,2078.0,251.0,2322.0,2451.0,7852.0,NaN,415.0,84.0
Crime,617.0,NaN,NaN,106.0,766.0,107.0,649.0,483.0,11059.0,NaN,1242.0,136.0
Drama,1435.0,512.0,NaN,553.0,3076.0,172.0,3134.0,6995.0,17988.0,131.0,1069.0,113.0
Family,NaN,100.0,NaN,NaN,NaN,NaN,115.0,NaN,NaN,NaN,NaN,NaN
Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.0,NaN,NaN,NaN
Film-Noir,88.0,NaN,NaN,NaN,93.0,NaN,NaN,NaN,NaN,NaN,111.0,NaN
History,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN
Horror,165.0,NaN,NaN,85.0,75.0,NaN,114.0,223.0,1729.0,NaN,490.0,92.0
Mystery,472.0,160.0,NaN,NaN,130.0,NaN,138.0,198.0,666.0,NaN,86.0,NaN
Sci-Fi,92.0,NaN,NaN,NaN,NaN,NaN,NaN,91.0,362.0,NaN,NaN,NaN
Thriller,108.0,NaN,NaN,NaN,NaN,NaN,120.0,NaN,343.0,NaN,NaN,NaN
Western,132.0,NaN,NaN,NaN,302.0,NaN,220.0,175.0,401.0,NaN,NaN,NaN