# Travel Insurance

Problem Description: [Link in Quera](https://quera.org/problemset/125316/)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/train.csv')
df

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No
...,...,...,...,...,...,...,...,...,...,...
1585,W9JDK752JWHA,29,Private Sector/Self Employed,Yes,600000,3,0,No,No,No
1586,2JEE5P5T9MT0,34,Private Sector/Self Employed,Yes,850000,3,1,No,Yes,No
1587,797K83M5QWO2,34,Private Sector/Self Employed,No,1300000,4,0,No,No,No
1588,8V9QYC8TCCMF,33,Government Sector,Yes,400000,5,0,No,No,No
1589,8VEME4MXPTBC,28,Private Sector/Self Employed,Yes,750000,5,1,Yes,No,No

## Q1:

In [4]:
rows, columns = df.shape
f'rows: {rows} columns: {columns}'

'rows: 1590 columns: 10'

In [7]:
q1 = '{} {}'.format(*df.shape)
q1

'1590 10'

## Q2:

In [8]:
q2 = int(df.AnnualIncome.mean().round())
f'The average annual income of customers is {q2}'

'The average annual income of customers is 928553'

## Q3:

In [5]:
%%timeit
df[df.EverTravelledAbroad == 'Yes'].shape[0]

576 µs ± 89 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [6]:
%%timeit
np.where(df.EverTravelledAbroad == 'Yes', 1, 0).sum()

263 µs ± 3.09 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [7]:
%%timeit
len(df.query("EverTravelledAbroad == 'Yes'"))

1.75 ms ± 86.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [8]:
%%timeit
df.loc[df.EverTravelledAbroad == 'Yes'].shape[0]

509 µs ± 14.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [9]:
%%timeit
(df.EverTravelledAbroad =='Yes').sum()

313 µs ± 10.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [10]:
%%timeit
sum(df.EverTravelledAbroad =='Yes')

392 µs ± 10.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [11]:
%%timeit
df.EverTravelledAbroad.value_counts()['Yes']

619 µs ± 152 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [9]:
q3 = np.where(df.EverTravelledAbroad == 'Yes', 1, 0).sum()
f'The number of customers that had foreign travel: {q3}'

'The number of customers that had foreign travel: 302'

## Q4:

In [10]:
df['Employment Type'].unique()

array(['Private Sector/Self Employed', 'Government Sector'], dtype=object)

In [14]:
em = df['Employment Type'].value_counts(normalize=True) * 100
q4 = em[em == em.max()].round(2)
q4 = '{} {}'.format(*next(q4.items()))
q4

'Private Sector/Self Employed 72.64'

In [25]:
tst = em.nlargest(1).round(2)

In [26]:
tst.item()

72.64

In [27]:
tst

Private Sector/Self Employed    72.64
Name: Employment Type, dtype: float64

In [28]:
a = 'this is a sentence'

In [30]:
f = iter(a)
f

In [50]:
next(f)

StopIteration:

In [51]:
em.nlargest(1).round(2)

Private Sector/Self Employed    72.64
Name: Employment Type, dtype: float64

In [60]:
em = df['Employment Type'].value_counts(normalize=True) * 100
q4 = em.nlargest(1).round(2)

In [75]:
q4 = em \
.nlargest(1) \
.round(2)

In [ ]:
q4 = (em
      .nlargest(1)  
      .round(2)
     )

In [61]:
rt = q4.items()

In [62]:
rt.

In [78]:
q4 = '{} {}'.format(*next(q4.items()))
q4

'Private Sector/Self Employed 72.64'

## Q5:

In [64]:
df.ChronicDiseases.unique()

array([0, 1], dtype=int64)

In [65]:
df.TravelInsurance.unique()

array(['No', 'Yes'], dtype=object)

In [73]:
%%timeit
dfc = df.loc[df.ChronicDiseases == 1]
dfcy = dfc.loc[dfc.TravelInsurance == 'Yes']
len(dfcy) / len(dfc) * 100

843 µs ± 40 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [14]:
%%timeit
chronic_diseases_mask = (df.ChronicDiseases == 1)
chronic_and_insurance_mask = df.ChronicDiseases & (df.TravelInsurance == 'Yes')
prs = len(df[chronic_and_insurance_mask]) / len(df[chronic_diseases_mask]) * 100
prs = round(prs, 2)
prs

1.04 ms ± 71.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [15]:
%%timeit
chronic_diseases = df.ChronicDiseases.sum()
chronic_and_insurance = ((df.ChronicDiseases == 1) & (df.TravelInsurance == 'Yes')).sum()
prs = chronic_and_insurance / chronic_diseases * 100
q5 = round(prs, 2)

659 µs ± 27.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [74]:
chronic_diseases = df.ChronicDiseases.sum()
chronic_and_insurance = ((df.ChronicDiseases == 1) & (df.TravelInsurance == 'Yes')).sum()
prs = chronic_and_insurance / chronic_diseases * 100
q5 = round(prs, 2)
q5

37.53

## Output:

In [84]:
print(*(eval(f'q{i}') for i in range(1,6)), sep='\n')

1590 10
928553
302
Private Sector/Self Employed 72.64
37.53

In [85]:
with open('output.txt', 'w') as file:
    print(*(eval(f'q{i}') for i in range(1,6)), sep='\n', file=file)